<button id="wishlist_{{ productid }}" class="wishlist-icon">wishlist</button>

<script>
    $(document).ready(function(){
    $('#wishlist_{{ productId }}').click(function(){
      let wishlistID = "{{ productId }}"; // Corrected the variable assignment
      localStorage.setItem("wishID-{{ productId }}", wishlistID);
    });
    })
</script>