<button id="wishlist_{{ productid }}" class="wishlist-icon">wishlist</button>

<script>
    $(document).ready(function(){
     $('.wishlist-icon').click(functione(){
       e.preventDefault();
       var wishid = $(this).attr("{{ productid }}");
       console.log(wishid);
     })
    })
</script>