<button id="wishlist_{{ productid }}" class="wishlist-icon">wishlist</button>

<script>
    $(document).ready(function(){
    $('#wishlist_{{ productid }}').click(function(){
      let wishlistID = "{{ productid }}"; // Corrected the variable assignment
      localStorage.setItem("wishid_{{ productid }}", wishlistID);
    });
    });
</script>