<button id="wishlist_{{ productid }}" class="wishlist-icon">wishlist</button>

<script>
    $(document).ready(function(){
     $('.wishlist-icon').click(function(e){
       e.preventDefault();
       var wishid = $(this).attr("id");
       console.log(wishid);
     })
    })
</script>